.grid-layout{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px 780px 50px;
  grid-row-gap: 1px;
  grid-column-gap: 1px;
}

.header{
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #67e56d;
  text-align: center;
  font-size: 50px;
}

.user-list {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color:#ccb5a1;
  text-align: center;
  font-size: 25px;
  font-family: serif;
}

.receive-message {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: #b8bab4;
  grid-gap: 5px;
  margin-left: 10px;
}

.ol-received-message{
  height: 700px;
  overflow: scroll;
  overflow-x: hidden;
}

.footer {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 50px 50px;
  margin-left: 10px;
  width: 100%;
  margin-top: 5px;
  /*background-color: #67e56d*/
}

.sent-message{
  float: left;
}

.send-button{
  float: left;
}
.send-location{
 float:left;
}

.text-type{
  width: 850px;
  height: 40px;
  text-align: left;
  font-size: 25px;
  border: 2px solid #ff0000;
}
.btn{
  width: 300px;
  height: 40px;
  font-size: 25px;
  text-align: center;
  margin: 2px 2px 2px 5px;
  background-color: #67e56d;
}
.message {
  font-size: 25px;
  font-style: normal;
  font-family: serif;
  font-weight: normal;
  font-stretch: semi-expanded;
  list-style-type: none;
  margin-left: 5px;
}
.received-msg-header {
  font-size: 20px;
  font-style: normal;
  font-family: serif;
  font-weight: bold;
  font-stretch: semi-expanded;
  list-style-type: none;
}
